@use './styles/variables' as variables;
@use './styles/mixins' as mixins;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: variables.$ri-darkgreen;
}

p, button {
    font-family: 'Segoe UI', sans-serif;
}

button {
    font-weight: 600;
}

html, body {
    background-color: variables.$ri-beige;
    min-height: 100vh;
    height: auto;
}