// Global configs ie. colors, breakpoints, fonts, styling, variables

// Colors


// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Font
$fs-mobile: 20px;
$fs-tablet: 24px;
$fs-desktop: 30px;

// Styling
* {
    box-sizing: border-box;
    font-family: 'sans-serif';
    margin: 0;
    padding: 0;
}