// Global configs ie. colors, breakpoints, fonts, styling, variables

// Colors
$ri-beige: #e9e2d3;
$ri-brown: #987c62;
$ri-forestgreen: #54644a;
$ri-lightgreen: #678B5B;
$ri-darkgreen: #204E4A;


// Breakpoints
$tablet: 768px;
$desktop: 1280px;

// Font
$fs-mobile: 20px;
$fs-tablet: 24px;
$fs-desktop: 30px;
$ri-logo: 'times new roman';